$default-theme: (
  primary: #1e3787,
  accent: #2d5fb4,
  accentLight: #4175cd,
  accentSuperLight: #bad4f3,
  secondary: #ffb900,
  secondaryLight: #ffc324,
  secondarySuperLight: #ffe0a3,
  info: #008288,
  error: #f95d5d,
  negative: #f95d5d,
  negativeLight: #f7c9c9,
  success: #40a55c,
  successLight: #4ab568,
  successSuperLight: #b8e3c4,
  text: #222b46,
  darkGrey: #4e5d76,
  icon: #81acdb,
  sheet: #f0f4fa,
  light: #9aa5b7,
  superLightGray: #f8fafd,
  input: #eff3f6,
  focus: #fbfdfe,
  border: #daebff,
  errorBorder: #ffe0e0,
  errorSheet: #ffefef,
  successSheet: #e8fbed,
  white: #fff,
  warning: #f0ae01,
  warningSheet: #fff6df,
  yellowText: #eb9b00,
  yellowExtraLight: #fff6de,
  lightBlue: #f7faff,
  lightBlueDown: #d0e2f8,
  lightBlueUp: #e4f1ff,
  water: #dce9f8,
  waterLight: #e8f2ff,
  disabled: #d2dcef,
  alpha: #ebedf1,
  gray: #8794aa,
  grayDark: #4e5d76,
  lightGray2: #dee4ee,
  whiteDown: #e1e8f1,
);
